<div  [ngStyle]="{'background-image': 'url('+ '/assets/images/login.jpeg' +')', 
'height':'1000px',
'margin':'0px',
'background-size': '100%', 
'background-repeat': 'repeat',
'background-position':'center'
}">
  <!--  <img src="/assets/images/login.jpeg" alt="backgroundImage" class="img1">-->

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <div class="container">
            <div class="imgcontainer">
                <img src="/assets/images/avatar2.jpg" alt="Avatar" class="avatar">
            </div>
            <h2>Login</h2>
            <label for="username"><b>Username</b></label>
            <input type="text" formControlName="username" placeholder="Enter Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
    
            <label for="password"><b>Password</b></label>
            <input type="password" formControlName="password" placeholder="Enter Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            <button type="submit">Login</button>
            <a routerLink="/register" class="btn btn-link">Register</a>
        </div>
        
        
    </form>
</div>